@use "/src/utils/media-queries" as responsive;

.container {
  padding: 1rem 8%;

  @media #{responsive.$laptop} {
    padding: 1rem 6%;
  }

  @media #{responsive.$tablet-landscape} , #{responsive.$tablet-portrait} ,#{responsive.$phone} {
    padding: 1rem 4%;
  }
}
