@use "/src/base/colors" as color;
@use "/src/utils/media-queries" as responsive;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85dvh;
  background-color: #fcfcfc;

  h1 {
    font-size: 2rem;
    color: #111;
    font-family: Dana-Black;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85dvh;
  background-color: #fcfcfc;
  padding: 1rem 8%;
  position: relative;
  overflow: hidden;
  column-gap: 1rem;

  @media #{responsive.$phone} {
    flex-direction: column;
    gap: 2rem;
  }

  .sidePanel {
    padding: 1rem;
    width: 20%;
    height: max-content;
    background-color: #fff;
    font-family: dana-medium;
    box-shadow: rgba(243, 169, 109, 0.16) 0px 8px 24px;

    @media #{responsive.$phone} {
      width: 100%;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.2rem;
      border-bottom: 1px solid #dcdada;
    }

    .phone {
      font-size: 0.9rem;
      color: #8e8e8e;
    }

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      margin-top: 2rem;

      .logout {
        color: #ff0000;
      }

      li {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-family: dana-light;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: max-content;
    gap: 1rem;
    font-family: dana;
    background-color: #fff;
    padding: 1rem;
    box-shadow: rgba(243, 169, 109, 0.16) 0px 8px 24px;

    @media #{responsive.$phone} {
      width: 100%;
    }

    h3{
      margin-bottom: 1rem;
    }

    .link{
      text-decoration: none;
      color: #ffffff;
      background-color: #c25d23;
      width: max-content;
      padding: 0.5rem 1rem;
    }

    p {
      width: 80%;
      background-color: rgba(241, 202, 180, 0.391);
      font-family: dana-light;
      font-size: 1.2rem;
      padding: 0 0.5rem;

      span {
        color: #d08051;
        font-style: normal;
        padding: 0 0.2rem;
        cursor: pointer;
      }
    }
  }
}
