@use "../../base/colors" as color;
@use "../../utils/media-queries" as responsive;

.notify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  gap: 1rem;

  h1 {
    font-family: dana;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;
    background-color: color.$main;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-family: dana-bold;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  padding: 1rem 8%;

  @media #{responsive.$phone} {
    padding: 1rem 4%;
  }

  .discountedPrice {
    color: #ff0000;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-top: 6rem;
    padding: 2rem 1rem;
    gap: 3rem;

    @media #{responsive.$phone} {
      margin-top: 5rem;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: color.$main;
    }
  }
}
