.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    padding: 1rem 8%;

    h1{
        font-family: dana;
    }

    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        margin-top: 3rem;
    }
}