@use '../../base/colors' as color;

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    padding: 1rem 8%;

    .notify{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 1rem;

        a{
            text-decoration: none;
            color: #fff;
            background-color: color.$main;
            padding: 0.5rem 2rem;
            font-size: 1.2rem;
            font-family: dana-bold;
        }
    }

    h1{
        font-family: dana;
    }

    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        margin-top: 3rem;
    }
}