@use "/src/utils/media-queries" as responsive;
@use "/src/base/colors" as colors;

.checkoutBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 300px;
    padding: 1rem 0;
    gap: 50px;

    @media #{responsive.$tablet-portrait} {
        width: 70%;
    }

    @media #{responsive.$phone} {
        width: 98%;
    }

    .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;

        .imageAndDescript {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            @media #{responsive.$phone} {
                gap: 8px;
            }

            .imageCheckBox {
                border: 0px;
                border-radius: 12px;
                box-shadow: 5px 5px 40px #f3cfba;

                @media #{responsive.$phone} {
                    width: 85px;
                    height: 85px;
                }
            }
    
            .description {
                display: flex;
                flex-direction: column;
                gap: 6px;
    
                .productName {
                    font-family: dana-medium;
                    font-size: 1.3rem;

                    @media #{responsive.$phone} {
                        font-size: 1.2rem;
                    }
                }
    
                .productdescript {
                    font-family: dana-extra-light;

                    @media #{responsive.$phone} {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .price {
            font-family: dana-medium;
            font-size: 1.2rem;

            @media #{responsive.$phone} {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-size: 1.1rem;

                i {
                    font-size: 0.8rem;
                }
            }
        }


  button {
    position: relative;
    display: inline-block;
    border: none;
    padding: 0.5rem;
    background-color: #ededed;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }

  button:hover svg {
    stroke: #ff0000;
  }

  svg {
    font-size: 1.5rem;
    font-family: dana;
    stroke: #e15555;
    cursor: pointer;
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: dana-medium;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
    }

    .line {
        width: 95%;
        height: 2px;
        background-color: #ededed;
    }
}