.container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .loading {
    width: fit-content;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    --g: conic-gradient(#000 0 0) no-repeat text;
    background: var(--g) 0, var(--g) 1ch, var(--g) 2ch, var(--g) 3ch,
      var(--g) 4ch, var(--g) 5ch, var(--g) 6ch;
    background-position-y: 100%;
    animation: l19 1.5s linear infinite alternate;
    font-size: 3rem;
  }
  .loading:before {
    content: "LOADING";
  }

  @keyframes l19 {
    0% {
      background-size: 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
    }
    25% {
      background-size: 1ch 100%, 1ch 50%, 1ch 0, 1ch 0, 1ch 0, 1ch 50%, 1ch 100%;
    }
    50% {
      background-size: 1ch 100%, 1ch 100%, 1ch 50%, 1ch 0, 1ch 50%, 1ch 100%,
        1ch 100%;
    }
    75% {
      background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 50%, 1ch 100%, 1ch 100%,
        1ch 100%;
    }
    to {
      background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%,
        1ch 100%, 1ch 100%;
    }
  }
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 0 0);
    background: var(--c), var(--c), var(--c);
    animation: l16-1 1s infinite, l16-2 1s infinite;
  }
  @keyframes l16-1 {
    0%,
    100% {
      background-size: 20% 100%;
    }
    33%,
    66% {
      background-size: 20% 40%;
    }
  }
  @keyframes l16-2 {
    0%,
    33% {
      background-position: 0 0, 50% 100%, 100% 0;
    }
    66%,
    100% {
      background-position: 0 100%, 50% 0, 100% 100%;
    }
  }
}
