@use "/src/base/colors" as color;
@use "/src/utils/media-queries" as responsive;

.pathDefault,
.pathCrossed {
  transition: stroke-dasharray 0.2s ease;
  stroke-dasharray: 20;
  stroke-dashoffset: 0;
}

.pathCrossed {
  stroke-dasharray: 10 0;
  stroke-dashoffset: 20;
}

.phoneNavContent {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  width: 100%;
  height: 100vh;
  background-color: color.$main;
  position: absolute;
  z-index: 3;
  right: -512px;
  top: 0;
  transition: all linear 0.5s;
  padding: 5rem 0 2.5rem 0;

  @media #{responsive.$phone} {
    display: grid;
  }

  @media #{responsive.$phone}  and (max-height : 517px) {
    padding: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4rem;
    font-family: dana;
    list-style: none;

    @media #{responsive.$phone}  and (max-height : 517px) {
      flex-wrap: wrap;
      gap: 2rem;
      padding: 6rem 0 0 0;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0.2rem;
    direction: rtl;

    a {
      text-decoration: none;
    }

    button {
      display: flex;
      padding: 12px 25px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: color.$main;
      font-family: dana-medium;
      font-size: 1rem;
      background-color: #edd5c7;
      border: none;
    }
  }
}

.phoneMenuContainer {
  display: none;
  align-items: center;
  width: 100%;
  height: 100%;
  direction: rtl;
  margin-top: 10px;
  z-index: 3;
  position: relative;
  padding: 1rem 4%;

  @media #{responsive.$phone} {
    display: flex;
    margin-bottom: 3rem;
  }

  .hamMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: color.$main;
    padding: 0.8rem;
    border: none;
    cursor: pointer;

    svg {
      width: 100%;
    }
  }

  .cart {
    background: rgb(237, 213, 199);
    background: -moz-linear-gradient(
      0deg,
      rgba(237, 213, 199, 1) 0%,
      rgba(249, 185, 148, 1) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(237, 213, 199, 1) 0%,
      rgba(249, 185, 148, 1) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(237, 213, 199, 1) 0%,
      rgba(249, 185, 148, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edd5c7",endColorstr="#f9b994",GradientType=1);
    width: max-content;
    height: max-content;
    padding: 0.6rem;
    position: relative;

    @media #{responsive.$tablet-portrait} {
      padding: 0.4rem;
    }

    svg {
      width: 25px;
    }
  }

  .mobileLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .selectedLogo {
      width: 100px;
      height: 50px;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 100px;
  direction: rtl;
  padding: 1rem 8%;

  @media #{responsive.$laptop} {
    padding: 1rem 6%;
  }

  @media #{responsive.$tablet-landscape} {
    margin-bottom: 2rem;
    grid-template-columns: 40% 25% 35%;
    padding: 1rem 4%;
  }

  @media #{responsive.$tablet-portrait} {
    grid-template-columns: 20% 50% 30%;
    padding: 1rem 4%;
  }

  @media #{responsive.$phone} {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    font-family: dana;

    @media #{responsive.$laptop} {
      gap: 2.4rem;
    }

    @media #{responsive.$tablet-portrait} {
      justify-content: center;
      font-size: 0.9rem;
      gap: 10%;
    }

    @media #{responsive.$phone} {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      grid-row: 2/3;
    }

    a::before {
      width: 0;
      height: 1px;
      position: absolute;
      right: 0;
      bottom: 0;
      content: "";
      background-color: color.$main;
      transition: all linear 0.3s;
    }

    a {
      width: max-content;
      height: max-content;
      text-decoration: none;
      color: color.$main;
      position: relative;
      line-height: 2rem;
    }

    a:hover::before {
      width: 100%;
    }
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @media #{responsive.$tablet-portrait} {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-content: flex-start;
      z-index: 1;
    }

    @media #{responsive.$phone} {
      flex-direction: column;
      align-items: center;
      grid-row: 1/2;
    }

    .logo {
      width: 100px;
      height: 50px;

      @media #{responsive.$laptop} {
        width: 90px;
      }
    }
  }

  .callToAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    @media #{responsive.$laptop} {
      gap: 1rem;
    }

    @media #{responsive.$tablet-portrait} {
      gap: 0.5rem;
    }

    @media #{responsive.$phone} {
      width: 100%;
      height: 100%;
      justify-content: center;
      gap: 0.2rem;
    }

    a {
      text-decoration: none;
    }

    a:hover button {
      transform: scale(1.1);
    }

    button {
      display: flex;
      padding: 12px 25px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: #fff;
      font-family: dana-medium;
      font-size: 1rem;
      background-color: color.$main;
      border: none;
      cursor: pointer;
      transition: all linear 0.3s;

      @media #{responsive.$tablet-portrait} {
        padding: 10px 10px;
        font-size: 0.9rem;
      }
    }

    .verticalLine {
      width: 1px;
      height: 40px;
      background-color: #111;
    }

    .cart {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 40px;
      height: 50px;
      position: relative;

      @media #{responsive.$tablet-portrait} {
        padding: 0.4rem;
      }

      .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: rgb(237,213,199);
        background: -moz-linear-gradient(180deg, rgba(237,213,199,1) 0%, rgba(249,185,148,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(237,213,199,1) 0%, rgba(249,185,148,1) 100%);
        background: linear-gradient(180deg, rgba(237,213,199,1) 0%, rgba(249,185,148,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edd5c7",endColorstr="#f9b994",GradientType=1); 
        color: color.$main;
        font-family: dana;
        top: 8px;
        right: -4px;
        position: absolute;
        transition: all ease-in-out 0.3s;
        transform: scale(0);
      }

      .animate{
        transform: scale(1.1);
      }

      svg {
        font-size: 2rem;
      }
    }
  }
}
