@font-face {
    font-family: dana-black;
    src: url('../fonts/dana-black.woff');
}

@font-face {
    font-family: dana-ultra-bold;
    src: url('../fonts/dana-ultra-bold.woff');
}

@font-face {
    font-family: dana-extra-bold;
    src: url('../fonts/dana-extra-bold.woff');
}


@font-face {
    font-family: dana-bold;
    src: url('../fonts/dana-bold.woff');
}


@font-face {
    font-family: dana-semi-bold;
    src: url('../fonts/dana-semi-bold.woff');
}

@font-face {
    font-family: dana-medium;
    src: url('../fonts/dana-medium.woff');
}

@font-face {
    font-family: dana;
    src: url('../fonts/dana.woff');
}

@font-face {
    font-family: dana-extra-light;
    src: url('../fonts/dana-extra-light.woff');
}

@font-face {
    font-family: dana-light;
    src: url('../fonts/dana-light.woff');
}

@font-face {
    font-family: dana-thin;
    src: url('../fonts/dana-thin.woff');
}
